<!DOCTYPE html>
<html>
    <head>
        <title>
            PROFILE
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    </head>


<body>
    <nav class="navtop">
        <div>
            <h1>Profile Page</h1>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
        </div>
    </nav>
<div>
    <p>Your details are as below:</p>
    <table>
        <tr>
            <td>FIRSTNAME:</td>
            <td>{{ user['firstname'] }}</td>
        </tr>
        <tr>
            <td>LASTNAME:</td>
            <td>{{ user['lastname'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user['email'] }}</td>
        </tr>
    </table>
</div>
</body>
</html>
