<!DOCTYPE html>
<html>
    <head>
        <title>
            Profile
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    </head>


<body>
    <nav class="navtop">
        <div>
            <h1>Profile Page</h1>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>
<div>
    <p>HI :{{ user['lastname'] }} Your details are below:</p>

            Firstname:{{ user['firstname'] }}
            Lastname:{{ user['lastname'] }}
            Email: {{ user['email'] }}
</div>
</body>
</html>
